<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmojiSurvey-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AA3B6D61E2D5A2D00664410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA3B6EE1E2D5A2D00664410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA3B6F91E2D5A2D00664410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
